form {
    position: relative;
    z-index: 0;
}
label {
    color: whitesmoke;
}
.modal-container {
    display: block;
    background-color: rgb(29, 29, 29);
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-align: center;
}
.remove-modal {
    display: none;
}
